# This is a generated file. Not intended for manual editing.
version: "3.4"
services:
  ptrampert.spahost:
    build:
      context: "/home/paul/Code/PTrampert.SpaHost"
      dockerfile: "PTrampert.SpaHost/Dockerfile"
      target: "base"
    command: []
    entrypoint:
    - "dotnet"
    - "/app/bin/Debug/net10.0/PTrampert.SpaHost.dll"
    environment:
      ASPNETCORE_STATICWEBASSETS: "/app/bin/Debug/net10.0/PTrampert.SpaHost.staticwebassets.runtime.CT.json"
      DOTNET_USE_POLLING_FILE_WATCHER: "true"
    image: "ptrampertspahost:dev"
    ports: []
    volumes:
    - "/home/paul/Code/PTrampert.SpaHost/PTrampert.SpaHost:/app:rw"
    - "/home/paul/Code/PTrampert.SpaHost:/src:rw"
    - "/home/paul/.nuget/packages:/root/.nuget/packages"
    working_dir: "/app"
  ptrampert.spahost.sampleapi:
    build:
      context: "/home/paul/Code/PTrampert.SpaHost"
      dockerfile: "PTrampert.SpaHost.SampleApi/Dockerfile"
      target: "base"
    command: []
    entrypoint:
    - "dotnet"
    - "/app/bin/Debug/net10.0/PTrampert.SpaHost.SampleApi.dll"
    environment:
      DOTNET_USE_POLLING_FILE_WATCHER: "true"
    image: "ptrampertspahostsampleapi:dev"
    ports: []
    volumes:
    - "/home/paul/Code/PTrampert.SpaHost/PTrampert.SpaHost.SampleApi:/app:rw"
    - "/home/paul/Code/PTrampert.SpaHost:/src:rw"
    - "/home/paul/.nuget/packages:/root/.nuget/packages"
    working_dir: "/app"
