version: '3.4'

services:
  ptrampert.spahost:
    image: ${DOCKER_REGISTRY-}ptrampertspahost
    build:
      context: .
      dockerfile: PTrampert.SpaHost/Dockerfile
    ports:
    - 49154:80
    volumes:
    - ./PTrampert.SpaHost/test-client/build/:/app/wwwroot/

  ptrampert.spahost.sampleapi:
    image: ${DOCKER_REGISTRY-}ptrampertspahostsampleapi
    build:
      context: .
      dockerfile: PTrampert.SpaHost.SampleApi/Dockerfile

  auth:
    image: quay.io/keycloak/keycloak
    command: start-dev --import-realm
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: Asdfasdf1
      KC_HOSTNAME: "http://localhost:8080"
      KC_HOSTNAME_BACKCHANNEL_DYNAMIC: "true"
    ports:
    - 8080:8080
    volumes:
    - ./keycloak/:/opt/keycloak/data/import/


  redis:
    image: redis
